#nav a, #subMenusContainer a {
	color:#FFFFFF;
	text-decoration:none;
	display:block;
	padding:10px 40px;
}
#nav a {
	margin:0;
	float:left;	
}
#subMenusContainer a, #nav li li a {
	text-align: left;
	height:15px;
	line-height:15px;
	background: #d2c57f;
	background: -moz-linear-gradient(top,  #d2c57f 0%, #d1c37e 2%, #dab67a 5%, #d6b779 7%, #d5c07f 9%, #d5ba7c 11%, #d9bb7e 14%, #d2b076 16%, #d8b77b 18%, #d2bb7a 20%, #d0bc7a 23%, #d5b679 25%, #d2ad73 27%, #d4b278 30%, #d2b277 32%, #d5b479 34%, #cfad73 36%, #ceae78 39%, #ccb278 41%, #cdb277 43%, #d2af76 45%, #cfa871 48%, #d0af74 50%, #cdae71 52%, #ceb073 55%, #c6a96d 59%, #ccac71 61%, #cba96f 64%, #cbab70 66%, #c3a86c 68%, #c9a872 73%, #cda56e 77%, #c9a26b 80%, #cba870 82%, #c6a76e 84%, #c7a56c 91%, #c2aa6b 98%, #c1a86b 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d2c57f), color-stop(2%,#d1c37e), color-stop(5%,#dab67a), color-stop(7%,#d6b779), color-stop(9%,#d5c07f), color-stop(11%,#d5ba7c), color-stop(14%,#d9bb7e), color-stop(16%,#d2b076), color-stop(18%,#d8b77b), color-stop(20%,#d2bb7a), color-stop(23%,#d0bc7a), color-stop(25%,#d5b679), color-stop(27%,#d2ad73), color-stop(30%,#d4b278), color-stop(32%,#d2b277), color-stop(34%,#d5b479), color-stop(36%,#cfad73), color-stop(39%,#ceae78), color-stop(41%,#ccb278), color-stop(43%,#cdb277), color-stop(45%,#d2af76), color-stop(48%,#cfa871), color-stop(50%,#d0af74), color-stop(52%,#cdae71), color-stop(55%,#ceb073), color-stop(59%,#c6a96d), color-stop(61%,#ccac71), color-stop(64%,#cba96f), color-stop(66%,#cbab70), color-stop(68%,#c3a86c), color-stop(73%,#c9a872), color-stop(77%,#cda56e), color-stop(80%,#c9a26b), color-stop(82%,#cba870), color-stop(84%,#c6a76e), color-stop(91%,#c7a56c), color-stop(98%,#c2aa6b), color-stop(100%,#c1a86b));
	background: -webkit-linear-gradient(top,  #d2c57f 0%,#d1c37e 2%,#dab67a 5%,#d6b779 7%,#d5c07f 9%,#d5ba7c 11%,#d9bb7e 14%,#d2b076 16%,#d8b77b 18%,#d2bb7a 20%,#d0bc7a 23%,#d5b679 25%,#d2ad73 27%,#d4b278 30%,#d2b277 32%,#d5b479 34%,#cfad73 36%,#ceae78 39%,#ccb278 41%,#cdb277 43%,#d2af76 45%,#cfa871 48%,#d0af74 50%,#cdae71 52%,#ceb073 55%,#c6a96d 59%,#ccac71 61%,#cba96f 64%,#cbab70 66%,#c3a86c 68%,#c9a872 73%,#cda56e 77%,#c9a26b 80%,#cba870 82%,#c6a76e 84%,#c7a56c 91%,#c2aa6b 98%,#c1a86b 100%);
	background: -o-linear-gradient(top,  #d2c57f 0%,#d1c37e 2%,#dab67a 5%,#d6b779 7%,#d5c07f 9%,#d5ba7c 11%,#d9bb7e 14%,#d2b076 16%,#d8b77b 18%,#d2bb7a 20%,#d0bc7a 23%,#d5b679 25%,#d2ad73 27%,#d4b278 30%,#d2b277 32%,#d5b479 34%,#cfad73 36%,#ceae78 39%,#ccb278 41%,#cdb277 43%,#d2af76 45%,#cfa871 48%,#d0af74 50%,#cdae71 52%,#ceb073 55%,#c6a96d 59%,#ccac71 61%,#cba96f 64%,#cbab70 66%,#c3a86c 68%,#c9a872 73%,#cda56e 77%,#c9a26b 80%,#cba870 82%,#c6a76e 84%,#c7a56c 91%,#c2aa6b 98%,#c1a86b 100%);
	background: -ms-linear-gradient(top,  #d2c57f 0%,#d1c37e 2%,#dab67a 5%,#d6b779 7%,#d5c07f 9%,#d5ba7c 11%,#d9bb7e 14%,#d2b076 16%,#d8b77b 18%,#d2bb7a 20%,#d0bc7a 23%,#d5b679 25%,#d2ad73 27%,#d4b278 30%,#d2b277 32%,#d5b479 34%,#cfad73 36%,#ceae78 39%,#ccb278 41%,#cdb277 43%,#d2af76 45%,#cfa871 48%,#d0af74 50%,#cdae71 52%,#ceb073 55%,#c6a96d 59%,#ccac71 61%,#cba96f 64%,#cbab70 66%,#c3a86c 68%,#c9a872 73%,#cda56e 77%,#c9a26b 80%,#cba870 82%,#c6a76e 84%,#c7a56c 91%,#c2aa6b 98%,#c1a86b 100%);
	background: linear-gradient(to bottom,  #d2c57f 0%,#d1c37e 2%,#dab67a 5%,#d6b779 7%,#d5c07f 9%,#d5ba7c 11%,#d9bb7e 14%,#d2b076 16%,#d8b77b 18%,#d2bb7a 20%,#d0bc7a 23%,#d5b679 25%,#d2ad73 27%,#d4b278 30%,#d2b277 32%,#d5b479 34%,#cfad73 36%,#ceae78 39%,#ccb278 41%,#cdb277 43%,#d2af76 45%,#cfa871 48%,#d0af74 50%,#cdae71 52%,#ceb073 55%,#c6a96d 59%,#ccac71 61%,#cba96f 64%,#cbab70 66%,#c3a86c 68%,#c9a872 73%,#cda56e 77%,#c9a26b 80%,#cba870 82%,#c6a76e 84%,#c7a56c 91%,#c2aa6b 98%,#c1a86b 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d2c57f', endColorstr='#c1a86b',GradientType=0 );

}

#nav a:hover, 
#nav a:focus, 
#subMenusContainer a:hover, 
#subMenusContainer a:focus, 
#nav a.mainMenuParentBtnFocused, 
#subMenusContainer a.subMenuParentBtnFocused {
	background-color: #FFF;
	color:#FFF;
}

#subMenusContainer a:hover, 
#subMenusContainer a:focus, 
#nav a.mainMenuParentBtnFocused, 
#subMenusContainer a.subMenuParentBtnFocused,
#nav li a:hover,
#nav li a:focus {
	background-color: #D0B476;	
}

#nav, #nav ul, #nav ol, #subMenusContainer ul, #subMenusContainer ol { 
	padding: 0;
	margin: 0;
	list-style: none;
	line-height: 1em;
}

#nav li { 
	display:block;
	list-style:none;
	position:relative;
	float:left;
}

#subMenusContainer li {
	list-style: none;
}

#nav{

	position: absolute;
	text-align: center;
}

#nav li li { float:none; }

#nav li li a {
	float:none;
}

#nav li ul {
	position: absolute;
	width: 10em;
	margin-left: -1000em; 
	top:40px;
	z-index:1000;
}

#nav li:hover ul{	margin-left: 0; }
